Source: python-whisper
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Elliot Murphy <elliot@ubuntu.com>, Jonas Genannt <jonas.genannt@capi2name.de>
Build-Depends: debhelper (>= 8), python (>= 2.6.6-3~), perl
Standards-Version: 3.9.4
Homepage: https://github.com/graphite-project/whisper
Vcs-Svn: svn://anonscm.debian.org/python-modules/packages/python-whisper/trunk/
Vcs-Browser: http://anonscm.debian.org/viewvc/python-modules/packages/python-whisper/trunk/

Package: python-whisper
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Suggests: python-rrdtool
Description: database engine for fast, reliable fixed-sized databases
 Whisper is a fixed size database, similar in design to the Round Robin
 database tool (RRDtool). Whisper is used by the Graphite scalable real
 time graphing system to store time-series data for later display.
