Source: python-whisper
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Graphite Group <team+debian-graphite-team@tracker.debian.org>
XSBC-Pexip-Original-Uploaders:
 Elliot Murphy <elliot@ubuntu.com>,
 Jonas Genannt <genannt@debian.org>,
 Thomas Goirand <zigo@debian.org>,
Build-Depends:
 debhelper (>= 9),
 dh-python,
 perl,
 python3,
 python3-all,
 python3-setuptools,
 python-all (>= 2.6.6-3~),
 python-setuptools,
 rename,
Standards-Version: 4.1.2
X-Python-Version: >=2.6
X-Python3-Version: all
Homepage: https://graphiteapp.org/
Vcs-Git: https://salsa.debian.org/debian-graphite-team/python-whisper.git
Vcs-Browser: https://salsa.debian.org/debian-graphite-team/python-whisper
XS-Pexip-Upstream: http://ftp.debian.org/debian/ buster

Package: whisper-bin
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 python3-whisper
Breaks: python-whisper (<= 1.1.4-2pexip1)
Replaces: python-whisper (<= 1.1.4-2pexip1)
Description: database engine for fast, reliable fixed-sized databases (runtime scripts)
 Whisper is a fixed size database, similar in design to the Round Robin
 database tool (RRDtool). Whisper is used by the Graphite scalable real
 time graphing system to store time-series data for later display. 

Package: python-whisper
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 whisper-bin
Description: database engine for fast, reliable fixed-sized databases
 Whisper is a fixed size database, similar in design to the Round Robin
 database tool (RRDtool). Whisper is used by the Graphite scalable real
 time graphing system to store time-series data for later display.

Package: python3-whisper
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 whisper-bin
Description: database engine for fast, reliable fixed-sized databases
 Whisper is a fixed size database, similar in design to the Round Robin
 database tool (RRDtool). Whisper is used by the Graphite scalable real
 time graphing system to store time-series data for later display.
