#!/usr/bin/make -f
export PYBUILD_NAME=whisper

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_install:
	rename 's/\.py//' debian/python-whisper/usr/bin/*.py
	chmod +x  debian/python-whisper/usr/bin/whisper-diff
	rename 's/\.py//' debian/python3-whisper/usr/bin/*.py
	chmod +x  debian/python3-whisper/usr/bin/whisper-diff
	dh_install
	rm -rf debian/python-whisper/usr/bin
	mkdir -p debian/whisper-bin/usr
	mv -v debian/python3-whisper/usr/bin debian/whisper-bin/usr/bin
